{% extends "registration/auth_base.html" %}

{% block title %}Vehicle Master{% endblock %}

{% block content %}
{% load static %}
<style>
    .vehicle-react-root {
        width: 100%;
        max-width: none;
        margin: 0;
        padding: 0;
    }
</style>
<div id="vehicle-master-root" class="vehicle-react-root"></div>

<link
    rel="stylesheet"
    href="{% static 'assets/VehicleMaster.css' %}"
>

<link rel="stylesheet" href="{% static 'assets/vehicle.css' %}">
<script type="module" src="{% static 'assets/vehicle.js' %}"></script>

{% endblock %}
