{% extends "registration/auth_base.html" %}
{% load static %}

{% block title %}Job Card Creation{% endblock %}

{% block content %}
<div id="jobcard-react-root"></div>

{{ react_jobcard_entry|json_script:"jobcard-entry-data" }}

<script>
  window.__JOBCARD_ENTRY__ = JSON.parse(
    document.getElementById("jobcard-entry-data").textContent
  );
</script>
<script type="module" src="{% static 'assets/jobcard.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/jobcard.css' %}">
{% endblock %}